USE [master]
GO
/****** Object:  Database [[PolaMobile]]    Script Date: 17/03/2026 11:03:29 ******/
CREATE DATABASE PolaMobile
GO

USE PolaMobile
GO
/****** Object:  Table [dbo].[Achat_]    Script Date: 17/03/2026 11:03:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achat_](
	[IdAdherent] [int] NOT NULL,
	[IdEvenement] [int] NOT NULL,
	[NbPlace] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdherent] ASC,
	[IdEvenement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adhérent]    Script Date: 17/03/2026 11:03:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adhérent](
	[IdAdherent] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[PassWrd] [varchar](250) NOT NULL,
	[date_dernier_evenement] [date] NULL,
 CONSTRAINT [PK__Adhérent__3C69BB1FCC326F0E] PRIMARY KEY CLUSTERED 
(
	[IdAdherent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artiste]    Script Date: 17/03/2026 11:03:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artiste](
	[IdArtiste] [int] IDENTITY(1,1) NOT NULL,
	[nomArtiste] [varchar](50) NULL,
	[TypeShow] [varchar](50) NULL,
	[Nb_Total_Show] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdArtiste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evenement]    Script Date: 17/03/2026 11:03:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evenement](
	[IdEvenement] [int] IDENTITY(1,1) NOT NULL,
	[DateEvenement] [date] NULL,
	[TypeEvenement] [varchar](50) NULL,
	[tarif] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvenement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jouer]    Script Date: 17/03/2026 11:03:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jouer](
	[IdEvenement] [int] NOT NULL,
	[IdArtiste] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvenement] ASC,
	[IdArtiste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adhérent] ON 

INSERT [dbo].[Adhérent] ([IdAdherent], [Nom], [Prenom], [Age], [Email], [PassWrd], [date_dernier_evenement]) VALUES (5, N'Lucas', N'Lucas', 20, N'lucass@gmail.com', N'$2y$10$XJk3RGEXfSWLpen/bPK7X.8DEYW8MzIB/KTqR2JcbHfK1cRCYFyJ2', NULL)
SET IDENTITY_INSERT [dbo].[Adhérent] OFF
GO
SET IDENTITY_INSERT [dbo].[Artiste] ON 

INSERT [dbo].[Artiste] ([IdArtiste], [nomArtiste], [TypeShow], [Nb_Total_Show]) VALUES (1, N'Vald', N'rap', 0)
INSERT [dbo].[Artiste] ([IdArtiste], [nomArtiste], [TypeShow], [Nb_Total_Show]) VALUES (2, N'Luther', N'rap', 0)
INSERT [dbo].[Artiste] ([IdArtiste], [nomArtiste], [TypeShow], [Nb_Total_Show]) VALUES (3, N'Laylow', N'rap', 0)
SET IDENTITY_INSERT [dbo].[Artiste] OFF
GO
SET IDENTITY_INSERT [dbo].[Evenement] ON 

INSERT [dbo].[Evenement] ([IdEvenement], [DateEvenement], [TypeEvenement], [tarif]) VALUES (1, CAST(N'2025-03-21' AS Date), N'rap', CAST(35.00 AS Decimal(15, 2)))
INSERT [dbo].[Evenement] ([IdEvenement], [DateEvenement], [TypeEvenement], [tarif]) VALUES (2, CAST(N'2025-12-12' AS Date), N'rap', CAST(25.00 AS Decimal(15, 2)))
INSERT [dbo].[Evenement] ([IdEvenement], [DateEvenement], [TypeEvenement], [tarif]) VALUES (3, CAST(N'2025-05-02' AS Date), N'rap', CAST(50.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[Evenement] OFF
GO
INSERT [dbo].[Jouer] ([IdEvenement], [IdArtiste]) VALUES (1, 1)
INSERT [dbo].[Jouer] ([IdEvenement], [IdArtiste]) VALUES (2, 2)
INSERT [dbo].[Jouer] ([IdEvenement], [IdArtiste]) VALUES (3, 3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Adhérent__536C85E4AA2A215F]    Script Date: 17/03/2026 11:03:30 ******/
ALTER TABLE [dbo].[Adhérent] ADD  CONSTRAINT [UQ__Adhérent__536C85E4AA2A215F] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Achat_]  WITH CHECK ADD  CONSTRAINT [FK__Achat___IdAdhere__571DF1D5] FOREIGN KEY([IdAdherent])
REFERENCES [dbo].[Adhérent] ([IdAdherent])
GO
ALTER TABLE [dbo].[Achat_] CHECK CONSTRAINT [FK__Achat___IdAdhere__571DF1D5]
GO
ALTER TABLE [dbo].[Achat_]  WITH CHECK ADD FOREIGN KEY([IdEvenement])
REFERENCES [dbo].[Evenement] ([IdEvenement])
GO
ALTER TABLE [dbo].[Jouer]  WITH CHECK ADD FOREIGN KEY([IdArtiste])
REFERENCES [dbo].[Artiste] ([IdArtiste])
GO
ALTER TABLE [dbo].[Jouer]  WITH CHECK ADD FOREIGN KEY([IdEvenement])
REFERENCES [dbo].[Evenement] ([IdEvenement])
GO
USE [master]
GO
